//- html
//-   head
//-     title Render HTML using PUG
//-   body
//-     h1 Welcome

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        style 
            include style.css
    body 
    p Hye..! Welcome to the Pug World .
    p=message

    ul Fill Details 
        - for (var i of details) {
            li
                p=i.name
                p=i.email
                p=i.phone_number
        - }
    form(action="/details", method="post") 
        input(type="text" name="name" placeholder="Your Name"  required)
        input(type="email" name="email" placeholder="Your Email" required)
        input(type="number" name="phone_number" placeholder="Your Phone Number" required)
        button(type="submit") Add item 